body {
  background-color: #f2f2f2;
  margin: 0;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #4da6ff;
  padding: 15px;
  padding-left: 15%;
}

span:nth-child(1) {
  justify-self: center;
}
